<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/index.css">
    <title>Post</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <h1>Welcome to your post office site</h1>
            <ul>
                <li> <a href = "http://localhost:3000/temp">To generate Cool things from bigML</a></li>
                <li><a href = "http://localhost:3000/dashboard">To view our current dashboard click here!</a></li>
            </ul>
        </div>
    </div>
  
</body>
</html>