
  <div class="col-lg-12 col-md-6 col-sm-6">
    
    <div class='card card-stats' "<% if(title === 'מרכז'){ %>
      style='background: rgb(239,239,173,0.6)'
      <% } else if (title == 'חיפה'){ %>
        style = 'background:rgb(159,244,223,0.6)'
      <% } else if (title == 'ירושלים'){ %>
        style = 'background:rgb(129,129,0,0.6)'
      <% } else if (title == 'יהודה ושומרון'){ %>
        style = 'background:rgb(0,62,62,0.6)'
      <% } else if (title == 'תל אביב'){ %>
        style = 'background:rgb(209,86,35,0.6)'
      <% } else if(title =='צפון') {%>
        style = 'background:rgb(202,239,173,0.6)'
      <% } else if(title =='דרום') {%>
        style = 'background:rgb(91,159,185,0.6)'
      <% } else if(title =='כללי') {%>
        style = 'background:rgb(255,0,150,0.6)'
        <% } %>
          " 
      >
      <div class="card-header card-header-warning card-header-icon" >
        
        <p class="card-category"><%= title %></p>
        <h3 class="card-title"> 
          <div id = "<%=districtid%>_value">
            <%= value %>
          </div>
            <small><%= unit %></small></h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-danger"></i>
          <a></a>
        </div>
      </div>
    </div>
  </div>
